body {
    margin: 0%;
    padding: 0%;
}

.head {
    display: block;
    height: 50%;
}

#bg {
    position: absolute;
    width: 100%;
    height: 60%;
}

#logo-nav {
    margin-left: 5%;
}

.navbar {
    top: 88px;
    left: 18%;
    width: 69%;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.30000001192092896); 
}

.topbar {
    top: 15px;
    left: 15.5%;
    width: 80%;
    height: 10%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.information {
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
}

.email {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 5%;
}

.nav-sign{
    margin-top: 1.5%;
    height: 30%;
    width: 20%;
    margin-left: 35%;
    color: white;
}

.navbar ul{
    color: white;
    margin-left: 15%;
    gap: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.container {
    top: 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: flex-start;
    background-color: white;
}

.container-1 {
    margin-left: 8%;
    width: 85%;
    display: block;
    height: 50%;
}

.main-1 {
    margin-top: 5%;
    width: 100%;
    height: 60%;
}

.colum-1 {
    display: flex;
}

.num1 {
    color: #7ecc88;
    margin-left: 12%;
    font-size: 100px;
}

.main-2 {
    margin-top: 3%;
    width: 100%;
    height: 60%;
}

.colum-2 {
    display: flex;
}

.num2 {
    color: #3F4C99;
    margin-left: 30%;
    font-size: 100px;
}

.main-3 {
    margin-top: 3%;
    width: 100%;
    height: 60%;
}

.colum-3 {
    display: flex;
}

.num3 {
    color: #FF5F60;
    margin-left: 30%;
    font-size: 100px;
}

.num {
    display: flex;
    font-size: 100px;
}

.event {
    font-size: 40px;
    color: #333;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 0%;
}

.button1 {
    border: none;
    background-color: #343A40;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;    
}
 
.button2 {
    border: none;
    background-color: #343A40;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button3 {
    border: none;
    background-color: #343A40;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
