@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 786px;
}

.logo {
    position: absolute;
    width: 260px;
    height: 70px;
    left: 87px;
    top: 20px;
}

p {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

h1 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 105px;

    color: rgba(255, 255, 255, 0.9);
}

h2 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.9);
}

h3 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}

h4 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.5);
}

h4:hover {
    margin-left: 21px;
    color: orange;
    cursor: pointer;
    transition-duration: 320ms;
}

a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 280px;
    margin-top: 27px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 14px 14px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover,
.dropdown-content:hover,
p:hover {
    cursor: pointer;
    color: orange;
    transition-duration: 320ms;
}

#menu1 {
    position: absolute;
    width: 90px;
    height: 135px;
    left: 475px;
    top: 35px;
}

#menu2 {
    position: absolute;
    width: 50px;
    height: 135px;
    left: 600px;
    top: 35px;
}

#menu3 {
    position: absolute;
    width: 50px;
    height: 135px;
    left: 680px;
    top: 35px;
}

#menu4 {
    position: absolute;
    width: 25px;
    height: 135px;
    left: 780px;
    top: 35px;
}

#menu5 {
    position: absolute;
    width: 140px;
    height: 20px;
    left: 840px;
    top: 35px;
}

#menu6 {
    position: absolute;
    width: 140px;
    height: 20px;
    left: 1010px;
    top: 35px;
}

.btn1 {
    background-color: #3F4C99;
    border: none;
    border-radius: 100px;
    color: white;
    width: 225px;
    padding: 2px 12px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 1175px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: orange;
    transition-duration: 320ms;
}

.h {
    position: absolute;
    width: 80%;
    height: 0px;
    left: 175px;
    top: 140px;
    opacity: 0.4;

    border: 1px solid rgba(255, 255, 255, 0.3);
}

.mid-text1 {
    position: absolute;
    width: 552px;
    height: 64px;
    left: 87px;
    top: 90px;
    color: white;
}

.mid-text2 {
    position: absolute;
    width: 430px;
    height: 19px;
    left: 87px;
    top: 172px;
}

#ph1 {
    position: absolute;
    width: 500px;
    height: 19px;
    left: 175px;
    top: 705px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

#em1 {
    position: absolute;
    width: 500px;
    height: 19px;
    left: 440px;
    top: 705px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.label1 {
    position: absolute;
    width: 366px;
    height: 244px;
    left: 975px;
    top: 645px;

    background: #3F4C99;
    border-radius: 15px;
}

.label2 {
    position: absolute;
    width: 366px;
    height: 275px;
    left: 975px;
    top: 655px;

    background: #FF5F60;
    border-radius: 10px;
}

.textbox {
    position: absolute;
    width: 350px;
    height: 34px;
    left: 10px;
    top: 42px;
    text-align: center;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.line-1 {
    position: absolute;
    width: 100px;
    height: 0.2px;
    left: 70px;
    top: 50px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    opacity: 1;
}

.sub-text1 {
    position: absolute;
    width: 375px;
    height: 34px;
    left: 2px;
    top: 80px;
    text-align: center;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: rgba(255, 255, 255, 0.6);
}

.sub-text2 {
    position: absolute;
    width: 375px;
    height: 34px;
    left: 2px;
    top: 105px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    text-align: center;

    color: rgba(255, 255, 255, 0.6);
}

#search {
    position: absolute;
    width: 225px;
    height: 38px;
    left: 60px;
    top: 175px;
    align-items: center;
    outline: none;
    font-size: 16px;
    color: gray;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 100px;
    border-color: orange;
    border-width: 0.6px;
}

.sent-button {
    background-color: #3F4C99;
    border: none;
    border-radius: 100px;
    color: white;
    padding: 2px 12px;
    width: 60px;
    height: 42px;
    text-align: center;
    position: absolute;
    border-left: none;


    top: 175px;
    left: 250px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sent-button:hover {
    background-color: orange;
    color: white;
}

.footer-banner {
    background-image: url(assets/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 652px;
}

.logo-footer {
    position: absolute;
    width: 260px;
    height: 70px;
    top: 500px;
    left: 87px;
}

ul,
li {
    display: list-item;
    padding-inline-start: 0;
    list-style-type: none;
}

.col-company {
    position: absolute;
    width: 175px;
    height: 32.62px;
    left: 475px;
    top: 990px;
}

.col-link {
    position: absolute;
    width: 175px;
    height: 32.62px;
    left: 680px;
    top: 990px;
}

.col-contact {
    position: absolute;
    width: 200px;
    height: 32.62px;
    left: 880px;
    top: 990px;
    line-height: 36px;
}

.col-media {  
    position: absolute;
    width: 250px;
    height: 32.62px;
    left: 1125px;
    top: 990px;
}

.widget-menu {
    width: 175px;
}

.menu {
    width: 150px;
}

.widget-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wgd {
    float: left;
}

.wdg,
#fb,
#tw,
#ig,
#gg {
    display: block;
    text-align: center;
    width: 30px;
    padding: 14px 16px;
    text-decoration: none;
}

.wdg
#fb:hover,
#tw:hover,
#ig:hover,
#gg:hover {
    cursor: pointer;
    transition-duration: 320ms;
}

#txt {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: rgba(0, 0, 0, 0.5);
}

.fa {
    color: rgba(0, 0, 0, 0.5);
}

#txt:hover {
    margin-left: 21px;
    color: orange;
    cursor: pointer;
    transition-duration: 320ms;
}

.fa:hover {
    margin-left: 21px;
    color: orange;
    cursor: pointer;
    transition-duration: 320ms;
}




